<!DOCTYPE html>
<html>
<head>
    <title>Markozy | {% block title %}The home of the Markozy{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}base.css" type="text/css" />
</head>
<body>
    <div id="header-container">
        <div id="header">
            <h1><a href="{% url 'homepage' %}">Markozy</a></h1>
            <nav id="global-nav-bar">
                <ul>
                    <li><a href="{% url 'blog:post-list' %}">Blog</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">About Me</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div id="billboard-container">
    {% block billboard %}{% endblock %}
    </div>
    <div id="container">
        <div id="column-wrap">
            {% block columnwrap %}
            <div id="content" class="single-column">
                {% block content %}{% endblock %}
            </div>
            {% endblock %}
        </div>
    </div>
    <div id="footer">© 2013 Mark Wood</div>
</body>
</html>